{{define "login"}}

    <div id="login" >
        <form action="validacionAdmin" method="post" >
        <input type="text" name="Usuario" required placeholder="Usuario">
        <input type="text" name="Contraseña" required placeholder="Contraseña">
        <input type="submit" name="Enviar" class="btn btn-primary">
        </form>
    </div>

{{end}}